[Desktop Entry]
Type=Application
Version=1.0
Name=Install uOS
GenericName=Calamares Installer
Exec=install-debian
Comment=Calamares — Installer
Keywords=calamares;system;install;debian;installer
Icon=/usr/share/icons/default/uos.svg
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
